@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }
}

header {
  background: url(../media/bg-hero-desktop.svg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ebfbff;
  padding: 25px 0px;
  height: 100vh;
}

header .container nav img {
  width: 200px;
}

header .container nav a {
  display: inline-block;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 20px;
  padding: 10px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

header .container .banner {
  min-height: calc(100vh - 200px);
}

header .container .banner .banner-txt {
  width: 40%;
}

header .container .banner .banner-txt h1 {
  color: #00252e;
  font-weight: 600;
  font-size: 2.5em;
}

header .container .banner .banner-txt p {
  color: #00252e;
  padding: 10px 0px;
}

header .container .banner .banner-txt a {
  display: inline-block;
  color: #fff;
  background: #ff52bf;
  border-radius: 50px;
  padding: 15px 70px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 2px 2px 7px 0px #00000052;
  text-align: center;
}

header .container .banner img {
  width: 50%;
}

.section-one .container {
  padding: 50px 0px;
  justify-content: space-around;
}

.section-one .container .card img {
  width: 25%;
}

.section-one .container .card h2 {
  font-size: 3.9em;
  color: #00252e;
}

.section-one .container .card p {
  color: #808d99;
  font-size: 1.1em;
}

.section-two,
.section-three {
  background: #f5faff;
}

.section-two .container,
.section-three .container {
  margin-top: -10px;
  padding: 30px 0px;
}

.section-two .container .section-txt,
.section-three .container .section-txt {
  width: 45%;
}

.section-two .container .section-txt h3,
.section-three .container .section-txt h3 {
  color: #00252e;
  font-size: 2em;
}

.section-two .container .section-txt p,
.section-three .container .section-txt p {
  color: #808d99;
  font-size: 1.2em;
}

.section-two .container img,
.section-three .container img {
  width: 40%;
}

.section-three {
  background: #fff;
}

.section-four {
  margin: 20px 0px;
}

.section-four .container {
  text-align: center;
  margin: 30px auto;
}

.section-four .container h3 {
  color: #00252e;
  font-size: 2em;
}

.section-four .container a {
  display: inline-block;
  color: #fff;
  background: #ff52bf;
  border-radius: 50px;
  padding: 15px 70px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 2px 2px 7px 0px #00000052;
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}

footer {
  background: #00252e;
}

footer .container {
  color: #fff;
  padding-bottom: 30px;
  align-items: baseline;
  margin-top: -50px;
}

footer .container p {
  padding: 10px 0px;
}

footer .container .column-one {
  width: 600px;
  padding-right: 20px;
}

footer .container .column-one img {
  width: 150px;
  background: none;
  position: relative;
}

footer .container .column-one a {
  color: #fff;
}

footer .container .column-one i {
  font-size: 1.2em;
}

footer .container .column-two {
  width: 400px;
}

footer .container .column-two .subscribe {
  width: 100%;
}

footer .container .column-two .subscribe input {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 1em;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 4px;
  border: none;
}

footer .container .column-two .subscribe input:focus {
  outline: none;
}

footer .container .column-two .subscribe .button {
  display: inline-block;
  color: #fff;
  background: #ff52bf;
  border-radius: 50px;
  padding: 15px 70px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 2px 2px 7px 0px #00000052;
  text-align: center;
  margin-left: 15px;
  border-radius: 4px;
  font-size: 1em;
  padding: 10px 25px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

footer .container .column-two .subscribe .button:focus {
  outline: none;
}

footer .attribution {
  text-align: center;
  background: #fff;
  color: #000;
}

footer .attribution a {
  color: #000;
}

@media screen and (max-width: 1500px) {
  footer .container {
    margin-top: -40px;
  }
}

@media screen and (max-width: 1200px) {
  footer .container {
    margin-top: -40px;
  }
}

@media screen and (max-width: 1030px) {
  header nav img {
    width: 150px !important;
  }
  header nav a {
    font-size: 0.9em;
  }
  header .banner .banner-txt h1 {
    font-size: 1.6em !important;
  }
  header .banner .banner-txt a {
    font-size: 0.9em;
  }
  .section-one .container .card img {
    width: 25%;
  }
  .section-one .container .card h2 {
    font-size: 3em;
  }
  .section-one .container .card p {
    font-size: 0.9em;
  }
  .section-two .container,
  .section-three .container {
    padding: 30px 0px;
  }
  .section-two .container .section-txt,
  .section-three .container .section-txt {
    width: 45%;
  }
  .section-two .container .section-txt h3,
  .section-three .container .section-txt h3 {
    font-size: 1.5em;
  }
  .section-two .container .section-txt p,
  .section-three .container .section-txt p {
    font-size: 0.9em;
  }
  .section-four .container h3 {
    font-size: 1.5em;
  }
  .section-four .container a {
    display: inline-block;
    color: #fff;
    background: #ff52bf;
    border-radius: 50px;
    padding: 15px 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    box-shadow: 2px 2px 7px 0px #00000052;
    text-align: center;
    font-size: 0.8em;
  }
  footer .container {
    margin-top: -40px;
  }
  footer .container .column-one p,
  footer .container .column-two p {
    font-size: 14px;
  }
  footer .container .column-one h2,
  footer .container .column-two h2 {
    font-size: 1.3em;
  }
  footer .container .column-one a,
  footer .container .column-two a {
    font-size: 14px;
  }
  footer .attribution {
    padding: 5px 0px;
  }
  footer .attribution a,
  footer .attribution p {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  header .banner {
    display: inline-block;
  }
  header .banner .banner-txt {
    width: 100% !important;
    text-align: center;
    padding: 8vh 0;
  }
  header .banner img {
    width: 100% !important;
  }
  footer .container {
    margin-top: -30px;
    display: block;
  }
  footer .container .column-one,
  footer .container .column-two {
    width: 100%;
    padding: 10px 0px;
  }
  footer .container .column-one p,
  footer .container .column-two p {
    font-size: 14px;
  }
  footer .container .column-one .subscribe,
  footer .container .column-two .subscribe {
    display: inline-block;
  }
  footer .container .column-one .subscribe .button,
  footer .container .column-two .subscribe .button {
    margin-left: 0;
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  header .container nav a {
    padding: 10px 15px;
  }
  .section-one .container .card {
    text-align: center;
    padding: 10px 0px;
  }
  .section-one .container .card h2 {
    font-size: 2.5em;
  }
  .section-two .container,
  .section-three .container {
    flex-direction: column;
  }
  .section-two .container .section-txt,
  .section-three .container .section-txt {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }
  .section-two .container .section-txt h3,
  .section-three .container .section-txt h3 {
    font-size: 1.5em;
  }
  .section-two .container .section-txt p,
  .section-three .container .section-txt p {
    font-size: 0.95em;
  }
  .section-two .container img,
  .section-three .container img {
    width: 100%;
  }
  .section-three .container {
    flex-direction: column-reverse;
  }
  footer .container {
    margin-top: -30px;
  }
}

@media screen and (max-width: 700px) {
  .section-one .container {
    flex-direction: column;
  }
  .section-four {
    margin: 40px 0px;
  }
  .section-four .container h3 {
    font-size: 1.5em;
  }
  footer .container {
    margin-top: -25px;
  }
}

@media screen and (max-width: 500px) {
  .section-one .container {
    flex-direction: column;
  }
  .section-four .container h3 {
    font-size: 1.25em;
  }
  .section-four .container a {
    font-size: 0.85;
  }
  footer .container {
    margin-top: -15px;
  }
}
